* {
    margin: 0px;
}

body {
    background-image: url("circles-light.png");
}

.header {
    margin-bottom: 20px;
    position: relative;
}

.img {
    position: absolute;
    top: 20px;
    left: 10%;
}

.img img {
    width: 110px;
    height: 110px;
}

.navigation {
    background-color: white;
    border-top: solid 1px lightgray;
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    margin-top: 10px;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 50px;
    height: 40px   
}

@media all and (max-width: 649px) {
    .nav-large-screen {
        display: none;
    }

    .nav-small-screen .bars-icon {
        background-color: #302c2d;
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 15%;
        position: absolute;
        left: 78%;
        top: 15px;
    }

    .nav-small-screen .bars-icon:hover {
        background-color: #ad0028;
    }
    
    .bars-icon .fa-bars {
        color: white;
        font-size: 40px;
        padding-top: 10px;
    }

    .nav-small-screen .nav-links {
        position: absolute;
        left: 63%;
        top: 42px;
        background-color: #ad0028;
        text-align: left;
        padding: 14px;
        border-radius: 6%;
    }

    .nav-small-screen .nav-links a {
        display: block;
        color: white;
        font-size: 20px;
        margin: 5px;
        padding: 7px;
        text-decoration: none;
    }

    .nav-small-screen .nav-links a:hover {
        color: #302c2d;
    }

    .hidden {
        display: none;
    }
}

@media all and (min-width: 650px) {
    
    .nav-small-screen {
        display: none;
    }

     .navigation .nav-large-screen {
        list-style-type: none;
        padding: 0 0 7px 0;
        text-align: right;
        margin-right: 10px;
    }
    
    .navigation .nav-large-screen li {
        display: inline;
        font-size: 22px;
        margin: 10px;
    }
    
    .navigation .nav-large-screen li a {
        text-decoration: none;
        color: #302c2d;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .navigation .nav-large-screen li a:hover {
        color: #ad0028;
    }
    
    .navigation .nav-large-screen li a:active {
        color: #ad0028;
        text-decoration: underline;
    }
}

.home {
    background-color: white;
    border: solid 1px lightgray;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 80px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.home div {
    display: inline-block;
    text-align: left;
    color: #302c2d;
}

.home div h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px 50px 20px;
    padding: 15px;
}

.home div p {
    font-size: 20px;
    margin: 20px 50px 30px;
    padding: 15px;
    line-height: 1.8;
}

.about {
    background-color: white;
    border: solid 1px lightgray;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 80px;
    margin-bottom: 50px;
    height: autox;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.about div {
    display: inline-block;
    text-align: left;
    color: #302c2d;
    padding-bottom: 20px;
}

.about div h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px 50px 20px;
    padding: 15px;
}

.about div p {
    font-size: 20px;
    margin: 20px 50px;
    padding: 5px 15px;
    line-height: 1.8;
}

.project {
    border: 1px solid lightgray;
    background-color: white;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.project .project-img {
    padding-top: 20px;
    padding-bottom: 25px;

}

.project .project-img img{
    width: 94%;
    height: auto;
    text-align: center;
    display: block;   
    margin: auto;
    box-shadow: 5px 5px 18px lightgray;

}

.projects .details {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px 20px 20px;
}

.projects .details h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #302c2d;
    padding-bottom: 20px;
}

.projects .details p {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    color: #302c2d;
}

.projects .project-links {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}

.projects .project-links a {
    font-size: 16px;
    padding-right: 12px;
    color: #ad0028;
    font-weight: 600;
}

.contact {
    background-color: white;
    border: solid 1px lightgray;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 80px;
    margin-bottom: 50px;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.contact .contact-details {
    color: #302c2d;
    padding-bottom: 50px;
}

.contact .contact-details h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px 50px 20px;
    padding: 15px;
}

.contact .contact-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
}

.contact-details .contact-icon {
    height: 100px;
    width: 160px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.contact-details .contact-icon a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #302c2d;
}

.contact-details .contact-icon a:hover {
    color: #ad0028;
}

.contact .contact-details .fa-github {
    font-size: 70px;
    color: #ad0028;
    padding: 20px;
}

.contact .contact-details .fa-envelope {
    font-size: 70px;
    color: #ad0028;
    padding: 20px;
}

.contact .contact-details .fa-linkedin {
    font-size: 70px;
    color: #ad0028;
    padding: 20px;
}
